.listItem:hover{
    transform: scale(1.1);
    transition: ease-in-out 1s;
}

.list{
    display: flex;
    width: auto;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
}

.listItem{
    transition: ease-in-out 1s;
    color: black;
    flex:1;
    font-size: 1.3rem;
    background-color: lavender;
    border-radius: 2rem;
    padding: 30px;
    padding-top: 0px;
}

img{
    border: solid;
}